.widget-area{
    padding: 2rem;
    .widget_search{
        margin: 0;
        .wp-block-search__inside-wrapper{
            flex-direction: column;
            button{
                margin: 0;
                background-color: skyblue;
            }
        }
   }
   .widget_block .wp-block-group{
        h2{
            margin: 1rem 0 ;
        }
        ul{
            list-style-type: square;
        }
    }
    #block-9{
        ul{
            margin:0;
            
        }
    }
}

@media screen and (min-width: 43.75rem) {
    .widget-area {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 1rem;
        margin-top:2rem ;
    }
  }