.site-footer{
    padding: 2rem 0 ;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    .custom-logo{
        width: 10rem;
        fill: white;
    }
    a{
        color:white;
        font-weight: 900;
        text-decoration: none;
    }
    .menu-footer-menu-container{
        ul{
            margin: 0;
            padding: 0;;
            li{
                list-style-type: none;
             
            }
        }
    }
}

@media screen and (min-width: 62.5rem) {
   .site-footer{
    flex-direction: row;
   }
}